<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ember.js</title>
    <style type="text/css" media="screen">
      .ember-view {display:inline;}
      .left {float:left;margin-right:10%;}
      .right {float:left; }
    </style>
  </head>
  <body>

    <script type="text/x-handlebars" data-template-name="items">
    <h2>
      This is a test application for TheStage Jobs written in Emberjs
    </h2>
    <div class="left">
      <p>
        Features tested:
      </p>
      <ul>
        <li>Create and delete records</li>
        <li>Persist records on the client</li>
        <li>Filtering records globally through search input and URL</li>
        <li>Browsing the filtered recordset in a detail view</li>
      </ul>
    </div>
    <div class='right'>
      <p>
      Items count: {{itemsCount}}
      </p>
      {{outlet}}
    </div>
    </script>

    <script type="text/x-handlebars" data-template-name="items/index">
      <p>
        <button {{action "add"}}>add item</button>
	or filter list of items by:
        {{input type='search' value=idFilter placeholder="id"}}
	and
        {{input type='search' value=codeFilter placeholder="code"}}
      </p>
      <ul>
      {{#each filteredItems itemController="item"}}
        <li>
          {{#link-to 'items.show' this}}
          {{id}} ---> {{code}}
          {{/link-to}}
          <button {{action "delete" this}}>delete</button>
        </li>
      {{/each}}
      </ul>
    </script>

    <script type="text/x-handlebars" data-template-name="items/show">
      <p>
        {{#link-to 'items'}}back{{/link-to}}
      </p>
      <p>
        selected item:
        <em>
          {{id}} ---> {{code}}
        </em>
      </p>
      {{navigate-to item=prev text='prev'}}
      {{navigate-to item=next text='next'}}
    </script>

    <script type="text/x-handlebars" id="components/navigate-to">
      {{#if item}}
        {{#link-to 'items.show' item}}{{text}}{{/link-to}}
      {{/if}}
    </script>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/handlebars/handlebars.js"></script>
  <script src="bower_components/ember/ember.js"></script>
  <script src="bower_components/ember-data/ember-data.js"></script>
  <script src="bower_components/ember-localstorage-adapter/localstorage_adapter.js"></script>

  <script src="js/application.js"></script>
  </body>
</html>
